.portfolio-description {
    margin-bottom: 40px;
}

.project-list.desktop {
    position: absolute;

    width: $w-col2;
    left: $w-col5;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 70px;
}

.project-list.mobile {
    display: none;

    width: 100%;
}

.project-slot {
    position: relative;

    width: 50%;
    //margin-top: 0.7vw;

    color: $dark-grey;

    font-size: 0;

    img {
        width: 100%;
    }
}

.img-overlay {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: $global-transition;

    top: 0;
    width: 100%;
    height: 100%;

    margin: auto;
    padding: 20px;

    background-color: $yellow;
}

.img-overlay:hover {
    opacity: 100;
    transition: $global-transition;
}

.mid-center {
    display: flex;
    flex-direction: column;

    span {
        width: 100%;

        text-align: center;
    }
}

.project-date {
    font-size: $fs-text;
}

.project-name {
    font-size: $fs-title-3;
    font-weight: $fw-bold;
}

@media screen and (max-width: $vw-small-desktop) {
    .project-list.desktop {
        width: $w-col3;
    }
}

@media screen and (max-width: $vw-vertical-tablet) {
    .project-list.desktop {
        display: none;
    }

    .project-list.mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: $vw-mobile) {
    .project-slot {
        width: 100%;
    }
}
