//// BODY STYLES

html,
body {
  overflow-x: hidden;
}

body {
  font-weight: $fw-regular;
  font-family: $ff-text;
  font-size: $fs-text;
  color: $white;

  background: $dark-grey;

  margin: 0;
  padding: 0;

  position: relative;
}

.noScroll {
  //overflow: hidden;
  overflow-y: hidden;
}

.background-lines {
  position: fixed;
  top: 0;

  z-index: -999;

  width: 100vw;

  display: flex;
  justify-content: space-between;

  div {
    content: "";

    display: inline-block;

    height: 100vh;

    border-right: 1px solid $light-grey;
  }

  div:nth-last-child(1) {
    border-right: 1px solid $dark-grey;
  }
}

@media screen and (max-width: $vw-vertical-tablet) {
  html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
  }


  .background-lines {
    display: none;
  }

  .noScroll {
    //overflow: hidden;
    overflow-y: auto;
  }
}

.landing-page {
  overflow-y: hidden;
}










//DONE
