//// LINK STYLES

a {
  text-decoration: none;
  color: $yellow;
}

a:hover {
  transition: $global-transition;
}

// In text links
.text-link {
  display: inline-block;
}

.text-link:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: $yellow;
  transition: width .3s;
  margin-top: 0.25rem;
}

.text-link:hover:after {
  width: 100%;
}

// Navigation Bar Links
nav a { 
  font-family: $ff-title;
  font-weight: $fw-bold;
  color: $white;
}

nav a:hover {
  color: $yellow;
}

// Buttons
a.btn, button {
  border: 1px solid $yellow;
  height: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  //
  font-family: $ff-title;
  font-weight: $fw-bold;
  font-size: $fs-text;
  color: $white;
  //
  transition: $global-transition;
  //
  display: table-cell;
  vertical-align: middle;
  //
  border-radius: 90px;
  //
  background-color: transparent;
  //
  cursor: pointer;
}

a.btn:hover, button:hover {
  color: $dark-grey;
  background-color: $yellow;
  transition: $global-transition;

  transform: translateY(-2px);
}

a:focus, button:focus {
  outline: none;
}


